@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap");
body {
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
  background-color: black;
  color: white;
}

.opacity-hidden {
  opacity: 0;
}

.opacity-transition {
  transition: opacity 0.5s;
}

.pwcode-navbar {
  background-color: white;
  color: black;
}
.pwcode-navbar .sub-menu {
  background-color: white;
  color: black;
}
.pwcode-navbar {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: calc(50% - 650px);
  padding-left: calc(50% - 650px);
  text-transform: uppercase;
  box-shadow: 0px 1px 3px 0px rgba(85, 85, 85, 0.25);
}
.pwcode-navbar *, .pwcode-navbar *:after, .pwcode-navbar *:before {
  box-sizing: border-box;
}
.pwcode-navbar a {
  text-decoration: none;
  color: inherit;
}
.pwcode-navbar li {
  list-style-type: none;
}
.pwcode-navbar ul {
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 1499px) {
  .pwcode-navbar {
    padding-right: 8%;
    padding-left: 8%;
  }
}
@media screen and (max-width: 1079px) {
  .pwcode-navbar {
    padding-right: 6%;
    padding-left: 6%;
  }
}
@media screen and (max-width: 679px) {
  .pwcode-navbar {
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media screen and (max-width: 359px) {
  .pwcode-navbar {
    padding-right: 2px;
    padding-left: 2px;
  }
}
.pwcode-navbar .custom-logo-link {
  max-height: 60px;
  width: auto;
}
.pwcode-navbar .custom-logo-link .custom-logo {
  max-height: 60px;
  width: auto;
}
.pwcode-navbar .pwcode-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.pwcode-navbar .pwcode-links .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.pwcode-navbar .pwcode-links .menu:not(:first-of-type) {
  margin-left: 80px;
}
.pwcode-navbar .pwcode-links .menu > li {
  margin-left: 40px;
  line-height: 80px;
}
.pwcode-navbar .pwcode-links .menu > li:first-child {
  margin-left: 0px;
}
.pwcode-navbar .pwcode-links .menu > li.menu-item-has-children {
  position: relative;
  margin-right: 18px;
}
.pwcode-navbar .pwcode-links .menu > li.menu-item-has-children:hover .sub-menu {
  max-height: 1000px;
  box-shadow: 0px 0px 2px 1px rgba(85, 85, 85, 0.25);
}
.pwcode-navbar .pwcode-links .menu > li.menu-item-has-children .pwcode-arrow {
  position: absolute;
  line-height: 80px;
  margin-left: 10px;
  cursor: pointer;
}
.pwcode-navbar .pwcode-links .menu > li.menu-item-has-children .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: max-height 0.25s;
  width: 160px;
  max-height: 0px;
  left: -20px;
  overflow: hidden;
  top: 80px;
  z-index: -1;
}
.pwcode-navbar .pwcode-links .menu > li.menu-item-has-children .sub-menu li {
  line-height: 48px;
  margin-left: 20px;
  font-size: 0.9em;
}
@media screen and (max-width: 1079px) {
  .pwcode-navbar {
    width: 280px;
    height: 100vh;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: fixed;
    left: 0px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .pwcode-navbar .custom-logo-link {
    position: relative;
    max-height: 30px;
    margin: calc((56px - 30px) / 2) 25px;
  }
  .pwcode-navbar .custom-logo-link .custom-logo {
    max-height: 30px;
  }
  .pwcode-navbar .pwcode-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 60px 25px 0px 25px;
    border-top: 1px solid gainsboro;
  }
  .pwcode-navbar .pwcode-links .menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
  }
  .pwcode-navbar .pwcode-links .menu:not(:first-of-type) {
    margin-left: 0px;
    margin-top: 32px;
  }
  .pwcode-navbar .pwcode-links .menu > li {
    margin-left: 0px;
    line-height: 40px;
  }
  .pwcode-navbar .pwcode-links .menu > li.menu-item-has-children {
    width: 100%;
    margin-right: unset;
  }
  .pwcode-navbar .pwcode-links .menu > li.menu-item-has-children .pwcode-arrow {
    line-height: unset;
    right: -20px;
    cursor: pointer;
    width: 40px;
    margin-left: unset;
    text-align: center;
    font-size: 18px;
  }
}