@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap");
body {
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
  background-color: black;
  color: white;
}

.opacity-hidden {
  opacity: 0;
}

.opacity-transition {
  transition: opacity 0.5s;
}

.pw-navbar {
  background-color: white;
  color: black;
}
.pw-navbar .sub-menu {
  background-color: white;
  color: black;
}
.pw-navbar {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: calc(50% - 650px);
  padding-left: calc(50% - 650px);
  text-transform: uppercase;
  box-shadow: 0px 1px 3px 0px rgba(85, 85, 85, 0.25);
}
.pw-navbar *, .pw-navbar *:after, .pw-navbar *:before {
  box-sizing: border-box;
}
.pw-navbar a {
  text-decoration: none;
  color: inherit;
}
.pw-navbar li {
  list-style-type: none;
}
.pw-navbar ul {
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 1499px) {
  .pw-navbar {
    padding-right: 8%;
    padding-left: 8%;
  }
}
@media screen and (max-width: 1079px) {
  .pw-navbar {
    padding-right: 6%;
    padding-left: 6%;
  }
}
@media screen and (max-width: 679px) {
  .pw-navbar {
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media screen and (max-width: 359px) {
  .pw-navbar {
    padding-right: 2px;
    padding-left: 2px;
  }
}
.pw-navbar .custom-logo-link {
  max-height: 60px;
  width: auto;
}
.pw-navbar .custom-logo-link .custom-logo {
  max-height: 60px;
  width: auto;
}
.pw-navbar .pw-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.pw-navbar .pw-links .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.pw-navbar .pw-links .menu:not(:first-of-type) {
  margin-left: 80px;
}
.pw-navbar .pw-links .menu > li {
  margin-left: 40px;
  line-height: 80px;
}
.pw-navbar .pw-links .menu > li:first-child {
  margin-left: 0px;
}
.pw-navbar .pw-links .menu > li.menu-item-has-children {
  position: relative;
  padding-right: 40px;
  margin-right: -20px;
}
.pw-navbar .pw-links .menu > li.menu-item-has-children:hover .sub-menu {
  box-shadow: 0px 0px 2px 1px rgba(85, 85, 85, 0.25);
}
.pw-navbar .pw-links .menu > li.menu-item-has-children:hover .sub-menu li {
  height: 48px;
}
.pw-navbar .pw-links .menu > li.menu-item-has-children .pw-arrow {
  position: absolute;
  top: 0px;
  line-height: 80px;
  right: 20px;
  cursor: pointer;
}
.pw-navbar .pw-links .menu > li.menu-item-has-children .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 160px;
  left: -20px;
  overflow: hidden;
  top: 80px;
  z-index: -1;
}
.pw-navbar .pw-links .menu > li.menu-item-has-children .sub-menu li {
  overflow: hidden;
  height: 0px;
  line-height: 48px;
  margin-left: 20px;
  font-size: 0.9em;
  transition: height 0.25s;
}
@media screen and (max-width: 1079px) {
  .pw-navbar {
    width: 280px;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .pw-navbar .custom-logo-link {
    position: relative;
    max-height: 30px;
    margin: calc((56px - 30px) / 2) 25px;
  }
  .pw-navbar .custom-logo-link .custom-logo {
    max-height: 30px;
  }
  .pw-navbar .pw-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 60px 25px 100px 25px;
    border-top: 1px solid gainsboro;
  }
  .pw-navbar .pw-links .menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
  }
  .pw-navbar .pw-links .menu:not(:first-of-type) {
    margin-left: 0px;
    margin-top: 32px;
  }
  .pw-navbar .pw-links .menu > li {
    margin-left: 0px;
    line-height: 40px;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children {
    width: 100%;
    margin-right: unset;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children:hover .sub-menu {
    box-shadow: unset;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children:hover .sub-menu li {
    height: 0px;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children:hover .sub-menu.pw-open li {
    height: 48px;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children .pw-arrow {
    line-height: 40px;
    top: 0px;
    right: -20px;
    cursor: pointer;
    width: 40px;
    margin-left: unset;
    text-align: center;
    font-size: 18px;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children .sub-menu {
    position: unset;
    width: 100%;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children .sub-menu li {
    height: 0px;
  }
  .pw-navbar .pw-links .menu > li.menu-item-has-children .sub-menu.pw-open li {
    height: 48px;
  }
}