@import 'utilities.scss';

body{
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: black;
  color: white;
}


.pwcode-navbar {
  background-color: white;
  color: black; 

  .sub-menu{
    background-color: white;
    color: black;
  }
    
}

