@import "globals.scss";


$navbar-height: 80px;
$sidebar-height: 56px;

.pwcode-navbar {
  @include border-box;
  @include anchor-child;
  @include li-child;
  @include ul-child;
  @include size(100%, $navbar-height);
  @include flexbox(space-between);
  @include container;
  border: 1px solid black;

  .custom-logo-link{    
    max-height: 60px;
    width: auto;
    .custom-logo{
      max-height: 60px;
      width: auto;
    }
  }

  .menu {
    @include flexbox(start);
    &:last-child{
      margin-left: 50px;
    }

    li{
      margin-left: 50px;
      &:first-child{
        margin-left: 0px;
      }      
    }    
  }

  


}